:root {
  --primaryColor: #1a2f4b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 7px;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px;
  /* margin-bottom: 50px; */
}
.container {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid darkblue;
  box-shadow: 1px 1px 5px rgba(190, 199, 206, 0.5);
  width: 50%;
}
.container::after {
  content: "";
  background: url(./images/word-map.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.container:hover {
  box-shadow: 1px 1px 5px rgba(147, 158, 167, 0.5);
}
h1 {
  color: var(--primaryColor);
}
p {
  text-align: center;
}

.money-img {
  width: 150px;
  height: 150px;
  margin: 15px 0;
}
.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #212121;
  font-size: 16px;
  background-image: url("./images/download.svg");
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}
.currency input {
  font-size: 1.4rem;
  text-align: center;
  width: 10rem;
  background: transparent;
  border: 0;
  border-bottom: 1px solid lightslategray;
  padding: 4px;
  background: #FFE6E6;
}
.currency input:hover{
  opacity: 0.6;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#swap-btn {
  height: 3rem;
  border-radius: 50%;
  opacity: 0.7;
}
#swap-btn:hover {
  opacity: 1;
}
.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate {
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 600;
  background-color: #b9d2d2b4;
  padding: 10px;
}
select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 800px) {
  html {
    font-size: 70%;
  }
  h1 {
    font-size: 1.9rem;
  }
  .currency input {
    width: 150px;
  }
  .container {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .container::after{
    /* background: linear-gradient(to bottom, #ffd89b, #19547b); */
    background: rgb(238,174,202);
background: radial-gradient(circle, rgb(245, 147, 190) 0%, rgba(148,187,233,1) 100%);
  }
  .currency input {
    width: 9rem;
    font-size: 1.2rem;
    padding: 7px 0;
  }
  .container {
    background: none;
    padding: 15px 12px;
    width: 100%;
  }
  .money-img {
    width: 7rem;
    height: 7rem;
  }
}
